@page
@model WebMexiFly.Pages.Users.UserRegisterModel
@{
}

<form method="post" asp-page-handler="Create">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control" name="FirstName">
  </div>
  <div class="mb-3">
    <label class="form-label">Apellido Paterno</label>
    <input type="text" class="form-control" name="FirstName">
  </div>  
  <div class="mb-3">
    <label class="form-label">Apellido Materno</label>
    <input type="text" class="form-control" name="FirstName">
  </div>      
  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="Password">
  </div>
  <div class="mb-3">
    <label>Username</label>
    <input type="text" class="form-control" name="Username">
  </div>
  <div class="mb-3">
    <label>Correo electronico</label>
    <input type="email" class="form-control" name="Email">
  </div> 
  <div class="mb-3">
    <label>Número de télefono</label>
    <input type="text" class="form-control" name="PhoneNumber">
  </div>    
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>